@import "../../vars.css";
.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 79px;
    color: var(--color-text);
    margin-left:10% ;
    margin-right: 10%;
}

.titles{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.image{
    width:200px;
    height:200px;
    border-radius: 20px;
}
.projects{
    display: grid;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    gap: 10px;
    margin-top: 20px;
    grid-template-columns: auto auto auto;
    background-image: linear-gradient(rgba(165,215,232,0.42),rgba(255,255,255,0));
}

.projects h3{
    padding: 10px;
    color:  rgb(236 72 153);
    text-align: center;
}


.description{
    padding-bottom:10px;
    margin-bottom: 20px;
}

.link{
 margin-top:10px;
 text-decoration: none;
 background-color: var(--color-primary);
 color: var(--color-text);
 border-radius: 100px;
 /* font-size: 30px; */
 font-weight: 600;
 padding: 10px 20px;
 /* margin: 30px; */
 box-shadow:0 0 4px 0 rgba(0,0,0,0.25);
}

@media screen and (max-width:830px) {
    .container{
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .projects{
        display: grid;
        gap: 30px;
        grid-template-columns: auto;
    }
}