@import "../../vars.css";

.container{
    position: relative;
    /* background-color:darkblue; */
    background-image: linear-gradient(rgba(165,215,232,0.42),rgb(13, 13, 101));
    border-radius:15px ;
    color: var(--color-text);
    padding: 40px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

 h4{
    color:  rgb(236 72 153);
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
}

.contact{
    display: flex;
    flex-direction: column;
    margin-left:25%;
    margin-right: 25%;
}
.contact label{
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}
.input{
    margin-bottom: 15px;
    border-radius: 10px;
    padding:10px;
    border: none;
}

.btn{
 /* margin: 0 auto; */
 align-items: center;
 text-align: center;
 margin-top: 10px;
 border: none;
 text-decoration: none;
 background-color: var(--color-primary);
 color: var(--color-text);
 border-radius: 100px;
 font-size: 20px;
 font-weight: 600;
 padding: 17px 26px;
 box-shadow:0 0 4px 0 rgba(0,0,0,0.25);
}

.link{
    display: flex;
    cursor: pointer;
    /* justify-content: center; */
    /* justify-content: space-between; */
    gap:5px;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    flex-direction: row;
}
.footer{
    color:  rgb(236 72 153);
    margin-top: 20px;
    padding: 20px;
    border-top:solid white 3px;
}
@media screen and (max-width:830px){
    .contact{
        margin: 0;
    }
}
